/* Blue */
$blue-static: #0b71d9;
$blue-hover: #0a64bf;
$blue-active: #0959ab;

/* Red */
$red-static: #c83833;
$red-hover: #ba211c;
$red-active: #a61d19;

/* Gray */
$gray: #7f8b99;
$gray-dark: #393f47;
$gray-soft: #b8bfc6;
$gray-light: #d0d6dd;

$black: #0b0d0e;

